<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Plataforma de PoupeMais</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<nav class="navbar navbar-expand-lg navbar-poupemais">

    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="#">

           <img src="{{url_for('static',filename='logo.png')}}"
     alt="logo"
     class="logo-nav">

            <span class="ms-2 nome-site">
                PoupeMais
            </span>

            <img src="{{url_for('static',filename='img/search.png')}}"
                 class="icone-nav-img ms-3"
                 alt="Buscar">

        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse justify-content-end"
             id="navbarNav">

            <div class="d-flex align-items-center gap-4">

                <a href="login"
                   class="btn btn-primary btn-cadastro">

                    É farmácia? Cadastre-se aqui

                </a>

                <img src="{{url_for('static',filename='img/location.png')}}"
                     class="icone-nav-img"
                     alt="Localização">

            </div>

        </div>

    </div>

</nav>
  <main>

    <section class="container py-5">
      <div class="row align-items-center">

 <div class="col-md-6">

    <span class="hero-topo">
        SEU ALIADO NA BUSCA POR<br>
        MEDICAMENTOS MAIS ACESSÍVEIS
    </span>

    <h1>
        Compare os preços de medicamentos e economize no cuidado com quem mais importa.
    </h1>

    <p>
        “Economizar em remédios é cuidar da saúde com inteligência.”
    </p>

    <a href="#" class="btn btn-primary">
        Saiba mais
    </a>

</div>
        <div class="col-md-6 text-center">

          <img src="{{url_for('static',filename='img/idosa.jpg')}}"
               class="img-fluid imagem-hero"
               alt="idosa">
      
      </div>

      </div>
      <!-- HERO SECTION -->
   

      </section>
<section class="container py-4">

    <div class="scroll-produtos">

        <img src="{{url_for('static',filename='img/Produto1.jpg')}}" draggable="false">
        <img src="{{url_for('static',filename='img/Produto2.jpg')}}" draggable="false">
        <img src="{{url_for('static',filename='img/Produto3.jpg')}}" draggable="false">
        <img src="{{url_for('static',filename='img/Produto4.jpg')}}" draggable="false">

    </div>

</section>
    

      <!-- BENEFÍCIOS -->
      <div class="beneficios-box">

    <div class="row g-0">

        <div class="col-md-4">
            <a href="#" class="item-beneficio">

                <img src="{{url_for('static',filename='img/icone1.jpg')}}" class="icone-card">

                <p>Descubra o mais barato para você.</p>

            </a>
        </div>

        <div class="col-md-4">
            <a href="#" class="item-beneficio">

                <img src="{{url_for('static',filename='img/icone2.jpg')}}" class="icone-card">

                <p>Encontre a farmácia mais perto de você.</p>

            </a>
        </div>

        <div class="col-md-4">
            <a href="#" class="item-beneficio">

                <img src="{{url_for('static',filename='img/icone3.jpg')}}" class="icone-card">

                <p>Confira nosso catálogo de produtos.</p>

            </a>
        </div>

    </div>

</div>
      <section class="container py-5">

    <div class="produtos-destaque">
         <h2 class="titulo-destaque">
            Cuide do seu bem estar
        </h2>

        <div class="row text-center">

            <div class="col-auto">
                <a href="#">
                    <img src="{{url_for('static',filename='img/produtoA.jpg')}}"
                         class="produto-card">
                </a>
            </div>

            <div class="col-auto">
                <a href="#">
                    <img src="{{url_for('static',filename='img/produtoB.jpg')}}"
                         class="produto-card">
                </a>
            </div>

            <div class="col-auto">
                <a href="#">
                    <img src="{{url_for('static',filename='img/produtoC.jpg')}}"
                         class="produto-card">
                </a>
            </div>

            <div class="col-auto">
                <a href="#">
                    <img src="{{url_for('static',filename='img/produtoD.jpg')}}"
                         class="produto-card">
                </a>
            </div>

        </div>

    </div>

</section>


      <section class="container py-5 secao-idoso">

        <div class="row align-items-center g-0">

          <div class="col-md-6">

            <div class="texto-idoso">
              Este espaço foi criado com muito carinho e dedicação,
              pensando em facilitar o seu dia a dia.
              Nosso objetivo é cuidar de seu bolso para que você
              possa focar no que realmente importa:
              sua saúde e bem-estar.
            </div>

          </div>

          <div class="col-md-6 text-center">

            <img src="{{url_for('static',filename='img/idoso.jpg')}}" class="img-idoso" alt="Idoso">

          </div>

        </div>



<section class="catalogo-produtos">

    <h2 class="text-center mb-4">
        Veja todos os nossos produtos
    </h2>

    <div class="grid-produtos">

        <div class="produto-card">
            <h5>Produto 1</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto5.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 10,40</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 2</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto6.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 14,50</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 3</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto7.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 8,10</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 4</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto8.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 9,60</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 5</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto9.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 13,40</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 6</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto10.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 19,10</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 7</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto11.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 9,99</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 8</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto13.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 10,90</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 9</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto14.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 4,60</div>
            </div>
        </div>

        <div class="produto-card">
            <h5>Produto 10</h5>
            <div class="produto-conteudo">
                <img src="{{url_for('static',filename='img/produto15.jpg')}}" alt="">
                <div class="preco"><span>R$</span> 7,99</div>
            </div>
        </div>

    </div>
<p class="ver-mais">Ver mais</p>

</section> 


<hr class="divisor-secao">

<section class="container py-5 atendimento-area">

    <div class="cards-atendimento">

        <a href="#" class="atendimento-card">

            <img src="{{url_for('static',filename='img/atendimento1.jpg')}}"
                 class="icone-atendimento"
                 alt="Atendimento">

            <div class="info-atendimento">

                <h5>Central de Atendimento</h5>

                <p>Fale conosco</p>

            </div>

        </a>

        <a href="#" class="atendimento-card">

            <img src="{{url_for('static',filename='img/atendimento2.jpg')}}"
                 class="icone-atendimento"
                 alt="Suporte">

            <div class="info-atendimento">

                <h5>Precisa de ajuda?</h5>

                <p>Suporte</p>

            </div>

        </a>

    </div>

    <div class="texto-informativo">

        O envelhecimento populacional no Brasil impõe desafios
        significativos à saúde pública, especialmente no que
        tange ao acesso farmacoterapêutico de uma população
        cuja renda é, muitas vezes, limitada por benefícios
        previdenciários fixos.

    </div>

</section>

<hr class="divisor-secao">
<section class="footer-poupemais">

  <div class="container">

      <div class="footer-top">

          <div class="footer-col">
              <h3>Poupemais</h3>

              <p>
                  Preços justos para um cuidado contínuo
              </p>

              <h5>Nossas redes:</h5>

             <div class="redes">

    <img src="{{url_for('static',filename='img/twitter.png')}}" alt="">
    <img src="{{url_for('static',filename='img/facebook.png')}}" alt="">
    <img src="{{url_for('static',filename='img/instagram.png')}}" alt="">
    <img src="{{url_for('static',filename='img/linkedin.png')}}" alt="">

</div>
          </div>

          <div class="footer-col">
              <h6>Companhia</h6>

              <p>Contate nos</p>
              <p>Sobre nós</p>
              <p>Privacidade e política</p>
          </div>

          <div class="footer-col">
              <h6>Perfil</h6>

              <p>Editar endereço</p>
          </div>

          <div class="footer-col">
              <h6>Atendimento</h6>

              <p>Tire suas dúvidas</p>
              <p>por Whatsapp</p>
              <p>Central de atendimento</p>
          </div>

          <div class="footer-imagem">

              <img src="{{url_for('static',filename='img/idosos.jpg')}}"
                   alt="Idosa">

          </div>

      </div>

      <hr>

      <div class="footer-bottom">

          <div>

              <h4>Formas de pagamento</h4>

              <p>Parcele em até 3x sem juros!</p>

              <div class="pagamentos">
                  PIX • VISA • MASTERCARD
              </div>

          </div>

          <div class="logo-final">
              POUPE MAIS
          </div>

      </div>

  </div>

</section>






  </main>

  </main>
  <footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"></script>
    <script src=""></script>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <script>
    const slider = document.querySelector('.scroll-produtos');

    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
      isDown = true;
      startX = e.pageX;
      scrollLeft = slider.scrollLeft;
    });

    document.addEventListener('mouseup', () => {
      isDown = false;
    });

    slider.addEventListener('mousemove', (e) => {
      if (!isDown) return;

      e.preventDefault();

      const walk = e.pageX - startX;

      slider.scrollLeft = scrollLeft - walk;
    });
  </script>

</body>
</body>

</html>